NODE_ENV=development
PORT=3010

DB_HOST=postgres-production
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=production_db

KAFKA_BROKER=kafka:9092
KAFKA_CLIENT_ID=production-service
KAFKA_GROUP_ID=production-service-group
